.container-btn-categories {
  background-color: rgb(180, 118, 36);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
}

/*
https://www.visualdicas.com.br/programacao/css/
12-criando-botoes-personalizados-css
*/

.btn-categories {
  background: black;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  height: 30px;
  margin-top: 20px;
  transition: 0.3s;
  width: 95%;
}

.btn-categories:last-child {
  margin-bottom: 20px;
}

.btn-categories:focus {
  height: 50px;
}
